<h1>Editar Alerta</h1>
<%= link_to 'Exibir', @alert, class: 'btn btn-info btn-sm' %> |
<%= link_to 'Voltar', taxweb_widgets_alerts_path, class: 'btn btn-default btn-sm' %>
<hr />
<%= render 'form' %>
