.widget {
    position: relative;
    min-height: 50px;
}

.widget_loading {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 50px;
    top: 0;
    left: 0;
    background-color: #ccc;
    opacity: 0.5;
    border-radius: 5px;
    cursor: not-allowed;
}

.widget_loading span {
    background-color: #FFF;
    font-size: 18px;
    color: #000;
    padding: 5px;
    font-weight: bold;
    margin: 0;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


/*
*= require taxweb_widgets/gridstack.0.3.0.min
*/
.grid-stack {
    background: lightgoldenrodyellow;
}

.grid-stack-item-content {
    color: #2c3e50;
    text-align: center;
    background-color: #18bc9c;
}


/*
= require taxweb_widgets/jquery.gridster-0.7.0.min
*/
/*.gridster {*/
    /*margin: 0 auto;*/
    /*opacity: .8;*/
    /*-webkit-transition: opacity .6s;*/
    /*-moz-transition: opacity .6s;*/
    /*-o-transition: opacity .6s;*/
    /*-ms-transition: opacity .6s;*/
    /*transition: opacity .6s;*/
/*}*/
/*.gridster .gs-w {*/
    /*background: #61A9CF;*/
    /*cursor: pointer;*/
    /*-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
/*}*/
/*.gridster .player {*/
    /*-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);*/
    /*background: #BBB;*/
/*}*/
/*.gridster .gs-w.try {*/
    /*background-image: url(../img/sprite.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: 37px -169px;*/
/*}*/
/*.gridster .preview-holder {*/
    /*border: none !important;*/
    /*border-radius: 0 !important;*/
    /*background: red !important;*/
/*}*/
/*.gridster ul {*/
    /*background-color: #EFEFEF;*/
/*}*/
/*.gridster li {*/
    /*font-size: 1em;*/
    /*font-weight: bold;*/
    /*text-align: center;*/
    /*line-height: 100%;*/
/*}*/
/*ul {*/
    /*list-style-type: none;*/
/*}*/
/*li {*/
    /*list-style: none;*/
    /*font-weight: bold;*/
/*}*/
/*.gridster-box {*/
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
/*.controls {*/
    /*margin-bottom: 20px;*/
/*}*/

/*.gridster li header {*/
    /*background: #999;*/
    /*display: block;*/
    /*font-size: 20px;*/
    /*line-height: normal;*/
    /*padding: 4px 0 6px;*/
    /*margin-bottom: 20px;*/
    /*cursor: move;*/
/*}*/